@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721442727000') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-066_ditudingwei:before {
  content: "\e753";
}

.icon-a-066_dianzan:before {
  content: "\e754";
}

.icon-a-066_baocun:before {
  content: "\e755";
}

.icon-a-066_dingdan-04:before {
  content: "\e756";
}

.icon-a-066_fenxiang-68:before {
  content: "\e757";
}

.icon-a-066_fenxiang-46:before {
  content: "\e758";
}

.icon-a-066_faxian:before {
  content: "\e759";
}

.icon-a-066_gouwu-45:before {
  content: "\e75a";
}

.icon-a-066_gengduo:before {
  content: "\e75b";
}

.icon-a-066_gouwuche:before {
  content: "\e75c";
}

.icon-a-066_miaosha:before {
  content: "\e75d";
}

.icon-a-066_paishe:before {
  content: "\e75e";
}

.icon-a-066_quanbu:before {
  content: "\e75f";
}

.icon-a-066_saoyisao:before {
  content: "\e760";
}

.icon-xiangxiajiantou:before {
  content: "\e61a";
}

.icon-xiangzuojiantou:before {
  content: "\e61b";
}

.icon-xiangshangjiantou:before {
  content: "\e61c";
}

.icon-a-sousuo2x:before {
  content: "\e619";
}

.icon-xiangyoujiantou:before {
  content: "\e61d";
}

.icon-shanchu:before {
  content: "\e61e";
}

